# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# storybook
/build-storybook

# editors
/.idea
/.vscode

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deploy
deploy.js

